*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color:  #ffc300; 
    opacity: 0.9;
}
.chat-screen{
    height: calc(100% - 120px);
}
.user{
    background-color: #FFFFFF;
    padding: 16px;
    height: 80px;
}
.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #ffc300 ;
}
.user__colum{
    float: left;
}
.user__nick, .user__count{
    margin: 5px;

}
.user__count{
    font-size: 12px;
    color: gray;
}
.chat-form{
    height: 120px;
    background-color: white;
}
.chat-form__field{
    height: 120px;
}
.chat-form__msg{
    float: left;
    width: calc(100%-120px);
    height: 120px;
    border: none;
    font-size: 24px;
    padding: 10px;
    resize: none;
}
.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #ffc300;
    font-size: 18px;
}
.chat-form__bt:active{
    background-color: #CB9D12;
}

.chat-form__msg:focus{
    outline: none;


}
.chat-user{
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.chat-user__profile{
    margin-right: 15px;
    width: 50px;

}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat-user__anser{
    width: 200px;
    height: 50px;
    color: black;
    background-color: gray ;
    opacity: 0.8;
    border-radius:7%;
}
#chat{
    margin: 15px;
}